* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #15202b;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

}
.navbar {
  float: right;
  list-style: none;
  margin-right: 10px;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, #15202b, #22303c);
  color: #ffffff;
  font-weight: 600;
}

.navbar li {
  margin-left: 40px;
  padding: 8px;
  float: right;
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 70%;
  font-weight: 550;
  font-family: 'Roboto', sans-serif;
}

.navbar-light a:link,
.navbar-nav a:visited {
  padding: 8px 0;
  text-decoration: none;
  font-size: 60%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  color: #ffffff;
}

.navbar li a:hover,
.navbar li a:active {
  border-bottom: 2px solid #ffffff;
}

/*!*--------------------------------------------------------------- *!*/
/*!* Skills !**/
/*!*--------------------------------------------------------------- *!*/

/*.row:after {*/
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/

/*.skill-icons {*/
/*  text-align: center;*/
/*  font-size: 64px;*/
/*}*/

/*.skill {*/
/*  text-align: center;*/
/*  font-family: 'Roboto', sans-serif;*/
/*  font-size: 15px;*/
/*  font-weight: 600;*/
/*  color: #ffffff;*/
/*}*/

/*.skill-section {*/
/*  !*background-color: #192734;*!*/
/*  padding-top: 100px;*/
/*  padding-bottom: 150px;*/
/*  font-family: 'Roboto', sans-serif;*/
/*  font-size: 16px;*/
/*  text-align: justify;*/
/*  color: #ffffff;*/
/*}*/

/*!*--------------------------------------------------------------- *!*/
/*!* PROJECTS !**/
/*!*--------------------------------------------------------------- *!*/

/*.icons {*/
/*  position: relative;*/
/*  text-align: center;*/
/*  color: black;*/
/*  text-shadow: 1px 1px 1px #ccc;*/
/*  font-size: 30px;*/
/*}*/

/*!*--------------------------------------------------------------- *!*/
/*!* Contact box !**/
/*!*--------------------------------------------------------------- *!*/

.contact2 {
  background: linear-gradient(to right, #15202b, #22303c);
}

.contact {
  /*background-color: #eae7e7;*/
  padding: 10px;
  font-weight: 100;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button[type="submit"] {
  background-color: #69bcf4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #30cc8b;
}
button[type="reset"] {
  background-color: #69bcf4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="reset"]:hover {
  background-color: #30cc8b;
}


.contact {
  /*background-color: #eae7e7;*/
  font-size: 70%;
  color: #ffffff;

}
label {
  margin: 0;
}

.contacted-text {
  font-size: 35px;

  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
}

/*!*--------------------------------------------------------------- *!*/
/*!* FOOTER !**/
/*!*--------------------------------------------------------------- *!*/

footer {
  background: linear-gradient(to right, #15202b, #22303c);
  padding: 20px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: white;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: white;
  transform: 0.2s;
  border-bottom: 2px solid white;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.fa-facebook,
.fa-twitter,
.fa-github,
.fa-linkedin,
.fa-instagram {
  transition: color 0.2s;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-github:hover {
  color: #6e5494;
}

.fa-instagram:hover {
  color: #4f5bd5;
}

.fa-linkedin:hover {
  color: #0077b5;
}

footer p {
  color: white;
  text-align: center;
}