* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #505050;
  font-family: "Lato", "Arial", sans-serif;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}




/*--------------------------------------------------------------- */
/* HEADER /* 
/*--------------------------------------------------------------- */


.home {
  height: 80px;
  width: auto;
  float: left;
  margin-top: 5px;
  border-radius: 50%;
  padding: 10px;
}

h1 {
  font-weight: 100;
}
h2 {
  font-weight: 100;
}

header {
  background: linear-gradient(to right, #69bcf4, #30cc8b);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  float: right;
  list-style: none;
  margin-right: 10px;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: linear-gradient(to right, #69bcf4, #30cc8b);
  color: #171421;
}

.fa-angle-down {

  color: #fff;
  position: absolute;
  top: 170%;
  transition: all .2s;
}

.fa-angle-down:hover {
  
  color: #f8f8f8;
  transform: translateY(3px);
}


.titlebar {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.navbar li {
  margin-left: 40px;
  padding: 8px;
  float: right;
}

.navbar li a:link,
.navbar li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
  border-bottom: 2px solid #f8f8f8;
}

@media screen and (max-width: 450px) {
  .navbar {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .home {
    display: none;
  }

  .navbar li a,
  .navbar li {
    margin: 0;
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .navbar,
  .navbar li a,
  .navbar li {
    font-size: 10px;
    margin: 0;
  }
  .home {
    display: none;
  }
  .navbar li a,
  .navbar li {
    margin: 0;
    padding: 10px;
  }
}
@media screen and (max-width: 450px) {
  .titlebar h2,
  .titlebar h1 {
    font-size: 30px;

  }
}
/*--------------------------------------------------------------- */
/* About me /* 
/*--------------------------------------------------------------- */

.blog {
  text-align: justify;
  padding: 10px;
font-weight: 100;
  background-color: white;
  color: #171421;
  font-size: 15px;
}

.blog::after {
  content: "";
  clear: both;
  display: block;
}

.blogtxt {
  width: 50%;
  margin: auto;
}

h4 {
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 100;
}


a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .blog,
  .blogtxt {
    text-align: center;
   
    text-align: justify;
    
  }
}
/*--------------------------------------------------------------- */
/* Skills /* 
/*--------------------------------------------------------------- */

.column {
  float: left;
  width: 33.33%;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  
  
}

h5 {
  font-weight: 100;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.ion-logo-css3 {
  font-size: 64px;
  text-align: center;
}
.ion-logo-javascript {
  text-align: center;
  font-size: 64px;
}

.ion-logo-html5 {
  text-align: center;
  font-size: 64px;
}
h5 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}
p .skills {
  text-align: justify;
  padding: 10px;
  margin: 10px;
}

.skillsection {
  background-color: #eae7e7;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .skillsection {
    margin: 0;
    padding: 10px;
    
  }

  .column {
    padding: 10px;
  }
}
/*--------------------------------------------------------------- */
/* PROJECTS /* 
/*--------------------------------------------------------------- */

h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 100;
}

h3 {
 padding-bottom: 5px;
 
}

.project {
  background-color: #ffff;
}

p.projectp {
text-align: justify;
}
.main {
  max-width: 100%;
  margin: auto;
}

.row > .column2 {
  padding: 8px;
  padding-bottom: 30px;
}

.column2 {
  float: left;
  width: 25%;
}

.projecthead {
  font-size: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #eae7e7;
  padding: 30px;
  font-size: 15px;
  
  
}


@media screen and (max-width: 900px) {
  .column2 {
    width: 50%;
  }

}

@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;

  }
  
}

/*--------------------------------------------------------------- */
/* Contact box /* 
/*--------------------------------------------------------------- */

.contact {
  background-color: #eae7e7;
  padding: 10px;
  font-weight: 100;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  background: linear-gradient(to right, #69bcf4, #30cc8b);;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #959895;
}
input[type="reset"] {
  background: linear-gradient(to right, #69bcf4, #30cc8b);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="reset"]:hover {
  background-color: #959895;
}

.container {
  border-radius: 5px;
  background-color: #eae7e7;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.contact {
  background-color: #eae7e7;
  font-size: 70%;
}

.contactedtext {
  font-size: 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 450px) {
  .contact,
  .container,
  input[type="submit"] {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}
@media screen and (max-width: 450px) {
  .contact,
  .container,
  input[type="reset"] {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}

/*--------------------------------------------------------------- */
/* FOOTER /* 
/*--------------------------------------------------------------- */

footer {
  background: linear-gradient(to right, #69bcf4, #30cc8b);
  padding: 20px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: white;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: white;
  transform: 0.2s;
  border-bottom: 2px solid white;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.fa-facebook,
.fa-twitter,
.fa-github,
.fa-linkedin,
.fa-instagram {
  transition: color 0.2s;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-github:hover {
  color: #6e5494;
}

.fa-instagram:hover {
  color: #4f5bd5;
}

.fa-linkedin:hover {
  color: #0077b5;
}

footer p {
  color: white;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 450px) {
  .footer-nav {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
  }
  .social-links {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .footer-nav {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
  }
  .social-links {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    float: inherit;
  }
}

@media screen and (max-width: 320px) {
  .footer-nav {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
  }
  .social-links {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
    float: inherit;
  }
}
