* {
    margin: 0;
    padding: 0;
    
  }

.calculator {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}
.screen {
    background-color: rgb(20, 20, 20);
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-size: 30px;
  }

  .screendisplay {
    color: #ffffff;
    padding: 20px 2px 0 20px;
    text-align: right;
  }

  .btn {
    width: 25%;
    font-size: 30px;
    float: left;
   
    
  }
  